* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}


/* GENERAL */
#filter-panel,
.custom-list {
    margin-top: 30px;
}

#filter-panel .form-control {
    width: 120px;
}

#filter-panel .form-group label {
    margin-right: 5px;
    margin-left: 5px;
}

#filter-panel .form-group button {
    margin-left: 5px;
}

#filter-panel .form-group {
    margin-right: 10px;
}

.additional-filter {
    margin-top: 10px;
}

/* EMPLOYEES */
#employees-list {
    padding-left: 0;
    padding-right: 0;
}

#employees-list .table td,
#employees-list .table th {
    text-align: center;
}

#employees-list .table td:first-child,
#employees-list .table th:first-child {
    text-align: left;
}


/* LOGIN */
.login-form {
    margin-top: 30vh;
}

/* ADD NEW EMPLOYEE */
.add-form {
    margin-top: 8vh;
}

#employee-is-am {
    display: none;
}

/* CHARTS */
.chart {
    margin-top: 30px;
}